<div class="profile__page">
    <a href="/chats" class="profile__back-button">
        <div class="profile__back-icon">
            {{!-- <img src="#"/> --}}
        </div>
    </a>
    <div class="profile__main-content">
        <form class="profile__card">
            <label class="profile__avatar" for="change-avatar">
                {{!-- <img src="#" /> --}}
            </label>
            <input type="file" id="change-avatar" name="avatar" />
            <h3 class="profile__name">My profile</h3>

            <div class="profile__personal-data">
                {{#each profileData}}
                <div class="profile__field">
                    <div class="profile__field-caption">{{this.key}}</div>
                    <div class="profile__field-value">
                        {{#if../edit }}
                            <input type="text" class="profile__field-input" placeholder="{{this.value}}">
                        {{else}}
                            {{this.value}}
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="profile__controls">
                {{#if edit}}
                    {{> button href="/profile" class="profile__save-button button primary" text="Save"}}
                {{else}}
                    <div class="profile__field">
                        {{> button href="/profile/edit" class="profile__controls-link link" text="Edit"}}
                    </div>

                    <div class="profile__field">
                        {{> button href="#" class="profile__controls-link" text="Change password"}}
                    </div>

                    <div class="profile__field">
                        {{> button href="/login" class="profile__controls-link profile__controls-link_red" text="Log out"}}
                    </div>
                {{/if}}
            </div>
        </form>
    </div>
</div>
